@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));




@theme {
  --color-main-color: #c5d86d; 
  --color-main-border-color:#f3f4f6;
}


@layer components {
  .form-control {
    width: 100%;
    padding: 6px 50px;
    border: 2px solid white;
    border-radius: 6px;
    outline: none;
  }


 .auth-btn {
    width: 100%;
    padding: 6px;
    border: 2px solid white;
    border-radius: 6px;
   text-align: center;
   font-weight: 700;
   margin-block:10px ;
   background-color: white;
   color: black;
   cursor: pointer;
  }



}

/* custome classes */
.addBtn{
  @apply rounded-3xl px-3 py-2 bg-white text-black font-medium border-2 cursor-pointer
}

.active-side-dark{
  @apply  font-bold border-r-4 border-r-amber-400
}

.active-side-light{
  @apply  font-bold border-r-4 border-r-black
}



.error-message{
  @apply  text-red-700 text-sm 
}


/*  configuration of input */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
}

/* Side bar custome style */
.outlet-collapse{
    width: calc(100% - 250px);
    margin-left: auto;
    transition: all .5s;
}


 .css-dip3t8{
    background-color: #1F263E;
   } 


  




   li.ps-menuitem-root:nth-child(1) a:hover{
    background-color: transparent;
   }





.outlet-collapsed-style{
      width: calc(100% - 250px);
  transition: all .5s;
  margin-left: auto;
}




.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style {
  transform-style: preserve-3d;
}








/*  loader */




.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#000 0 0);
  --r1: radial-gradient(farthest-side at bottom,#000 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,#000 93%,#0000);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l1 1s infinite alternate;
}
@keyframes l1 {
  0%,10% {
    background-size: 8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 90%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px;
    background-position: 0 50%,0 -2px,0 calc(100% + 2px),50% 50%,50% -2px,50% calc(100% + 2px),100% 50%,100% -2px,100% calc(100% + 2px);
 }
}




.side-bar-box button.active-dark{
  border-right: 2px solid white;
}





